/* Home.css */

.products-page {
  background-color: black;
  margin-top: 100px;
  color: white;
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }
}

.product-card {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
}

.product-card img {
  width: 100%; /* Adjust width as needed */
  height: 450px; /* Adjust height as needed */
  object-fit: cover; /* Maintain aspect ratio */
}

.product-card h2 {
  color: #df921c;
}

.product-card p {
  margin-bottom: 10px;
}

.product-card button {
  background-color: #df921c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #b3720b;
}
