.Navbar {
  margin-bottom: 60px; /* Add margin to the bottom of the Navbar */
}
.sell-product-container {
  background-color: #000;
  color: #fff;
  font-family: 'Merriweather', serif;
  padding: 80px 50px 50px; /* Add padding to the top */
  text-align: center;
  margin-bottom: 30px;
}

.sell-product-container h2 {
  color: #df912c;
  font-size: 40px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 450px;
  display: block; /* Change to block for FormField component */
  width: 85%;
  margin: 0 auto; /* Center align the form */
  max-width: 400px; /* Limit the maximum width of the form */
    margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  box-sizing: border-box; /* Include padding and border in the width */
}

.form-group select {
  appearance: none;
}

.form-group input[type="file"] {
  padding: 10px; /* Adjust padding */
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #df912c;
  border: none;
  color: #fff;
  border-top: 10px;
  cursor: pointer;
  margin-top: 20px; /* Adjust this value as needed to shift the button lower */
}

button[type="submit"]:hover {
  background-color: #ffae42;
}

